.SidePanel-Container {
	display: flex;
	justify-content: center;

	flex: 1;
}
.SideBar {
	display: flex;
	justify-content: center;
	width: 200px;
	margin: 20px;
	margin-top: 100px;
	border-radius: 20px;
	background-color: transparent;
	box-shadow: 0px 0px 12px rgb(255, 255, 255);
}
ul {
	list-style-type: none;
	padding: 0;
	text-decoration: none;
}

li {
	margin-bottom: 10px;
	cursor: pointer;
	text-decoration: none;
	color: var(--white2);
}

li:hover {
	color: #00e676;
}

a {
	text-decoration: none;
	color: inherit; /* Ensures that the link color is inherited from the parent */
}

a:hover {
	color: #00e676;
}
